# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
out/
www/
*.apk
*.aab

# Android
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/capacitor-cordova-android-plugins/build/
frontend/android/local.properties
*.keystore
!frontend/android/app/release.keystore

# Environment & Databases
.env
.env.*
!.env.example
*.sqlite
*.db

# Logs & IDE & OS
*.log
.DS_Store
.idea/
.vscode/
*.swp
